
<ul class="pagination flex-wrap mb-0 mt-3">
	<li class="page-item">
		<a href="#" id="prev" class="page-link" rel="tooltip" title="Previous" data-rot="Previous">&#8678;</a>
	</li>
	<!-- BEGIN alpha -->
	<li class="alpha page-item">
		<a href="#" id="rot{alpha.ROT}" class="page-link rotlink rot{alpha.ROT}" rel="tooltip" title="Rot {alpha.ROT}" data-rot="{alpha.ROT}">{alpha.LINK_LETTER}</a>
	</li>
	<!-- END alpha -->
	<li class="page-item">
		<a href="#" id="next" class="page-link" rel="tooltip" title="Next" data-rot="Next">&#8680;</a>
	</li>
</ul>
