
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

.convrt-box {
    position: relative;
    margin-bottom: 15px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-right: -2px;
}
.code-title {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0px 4px 0px;
    color: #585858;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.convrt-box textarea {
    margin-top: 30px;
    width: 90%;
    background-color: #f7f7f7;
}
.convrt-box.pad {
    padding: 2px 20px;
}
.btn.disabled, .btn[disabled] {
    cursor: pointer;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .span4 p {
    margin-left: 10px;
    margin-right: 10px;
}
.container.marketing {
    padding-top: 80px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

    .container.marketing {
        padding-top: 30px;
    }
}

@media (max-width: 767px) {

    .marketing .span4 + .span4 {
        margin-top: 40px;
    }
    
    .container.marketing {
        padding-top: 30px;
    }
}