/* Toggle [checkbox] */
.toggle-container {
	display: inline-block;
}
.toggle-container > .toggle {
	position: relative;
	z-index: 200;
}
.toggle-container > .toggle > .check {
	position: absolute;
	opacity: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.toggle-container > .toggle > .background {
	width: 4rem;
	height: 2rem;
	border-radius: 2rem;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	pointer-events: none;
	background-color: #b5b5b5;
	position: relative;
}
.toggle-container > .toggle > .background > .focus {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	outline: transparent;
}
.toggle-container > .toggle > .background > .thumb {
	position: absolute;
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 50%;
	top: 0.2rem;
	left: 0.15rem;
	background: #fff;
	box-shadow: 0 0.1rem 0.3rem 0.1rem rgba(0, 0, 0, 0.2);
	border: 1px solid transparent;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.toggle-container > .toggle:hover .thumb,
.toggle-container > .toggle:active .thumb,
.toggle-container > .toggle:focus .thumb {
	box-shadow: 0 0 0.1rem 0.4rem rgba(64, 175, 167, 0.4);
}
.toggle-container > .toggle:hover input[type="checkbox"]:checked + .background > .thumb,
.toggle-container > .toggle:active input[type="checkbox"]:checked + .background > .thumb,
.toggle-container > .toggle:focus input[type="checkbox"]:checked + .background > .thumb {
	box-shadow: 0 0 0.1rem 0.4rem rgba(117, 117, 117, 0.25) !important;
}
.toggle-container > .toggle input[type="checkbox"]:checked + .background {
	background-color: #53ddd3;
}
.toggle-container > .toggle input[type="checkbox"]:checked + .background > .thumb {
	left: 2.6rem;
}
.toggle-container > .toggle input[disabled] + .background {
	background-color: #ccc;
}
.toggle-container > .toggle input[disabled] + .background > .thumb {
	background: #ccc;
	border: 1px solid #fff;
	box-shadow: none;
}
.toggle-container > .toggle input[disabled] {
	cursor: not-allowed;
}
.toggle-container > .toggle.-small > .background {
	width: 3rem;
	height: 1.55rem;
}
.toggle-container > .toggle.-small > .background > .thumb {
	width: 1.2rem;
	height: 1.2rem;
}
.toggle-container > .toggle.-small input[type="checkbox"]:checked + .background > .thumb {
	left: 1.6rem;
}